<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PETSuite">


        <listeners>
            <listener class-name="api.utilities.ExtentReportManager"/>
            <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        </listeners>

        <test name="PETTest">

            <classes>
                <!-- <class name="api.test.DDTests"/> -->
                <class name="api.test.UserTests2"/>
            </classes>

        </test>





</suite>