<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PETSuite">

    <listeners>
        <listener class-name="api.utilities.ExtentReportManager"></listener>
    </listeners>
    <test name="PETTest" thread-count="5">


        <classes>
<!--            <class name="api.test.DDTests"/>-->
            <class name="api.test.UserTests2"/>
        </classes>

    </test>

</suite>